@import "https://fonts.googleapis.com/css?family=Lato|Raleway|Indie Flower:300,400,500,600,700";

body {
    font-family: 'Lato', sans-serif;
    background: #fafafa;
    overflow: hidden;
}

.btn-round-lg {
    border-radius: 22.5px;
}

.btn-round {
    border-radius: 50%;
}

p li {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

h3 {
    font-family: 'Lato', sans-serif;
}

[link] {
    cursor:pointer;
}

[en-view="inactive"] {
    display:none;
}
[en-view="active"] {
    display:block;
}

.en-fullheight{
    min-height:100vh;
}

.en-inactive {
    display:none;
}

.en-active {
    display:block;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline-width: 0;
}

.btn-small {
    height:40px !important;
    padding-top: .10rem !important;
    padding-bottom: .16rem !important;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.nomargin {
    margin: 0  
}

.bold {
    font-weight:bold;
}

.relative {
    position: relative; 
 }
 
 .absolute {
    position: absolute; 
 }

.en-list {
    overflow-y: auto;
    padding: 25px;
}

.en-list-item{
    cursor: pointer;
}

.en-page {
    overflow-x:hidden;
    padding:15px;
    height:100vh;
}
.en-fullpage{
  padding:0px;    
}

.en-2x {
    font-size: 2.0em;
}

.en-white {
    color:#ffffff;
}

.en-dark {
    color:#010101;
}

.en-blue {
    color:#3498db;
}

.en-grey {
    color:grey;
}

.en-nav-grey {
    background-color:#353b48;    
    color:#ffffff;
}

.en-nav-white {
    background-color:#ffffff;    
    color:#353b48;
}

.en-nav-orange {
    background-color:#e84118;    
    color:#ffffff;
}

.en-nav-blue {
    background-color:#0097e6;    
    color:#ffffff;
}

.en-nav-navy {
    background-color:#0097e6;    
    color:#ffffff;
}

.en-silver {
    color:Silver;
}

.en-bg-lightgrey {
    background-color:#F8F8F8;
}

.en-bg-white {
    background-color:#FFF;
}

.en-left {
    float:left;
}

.en-right {
    float:right;
}

.en-marker{
    color:inherit;
}
.en-footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    height: 65px;
    background-color: #FFFFFF;
    margin:0;
  }

.en-badge {
    position: relative;
    top: -15px;
    right: 5px;
    min-width:30px;
    height:30px;
    background-color: #FF0000 !important;
    border-radius:30px;
    font-size:0.6em;
    text-align:center;
}

.en-form-list{
    border:0 !important;
    height:5px !important;
}

.en-done {
    position:absolute;
    left:48%;
    top:48%;
    padding:4px;
    width:50px;
    height:50px;
    z-index:10000;
    background:#2b2b2b;
    color:#fff;
    opacity:0.9;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}

.en-busy {
    position:absolute;
    left:49%;
    top:49%;
    padding:4px;
    width:50px;
    height:50px;
    z-index:10000;
    color:#fff;
    opacity:0.9;
}

.en-marker{
    display:inline;
}

#uploadModal {
    min-width: 600px;
}
.upload-file .start {
    display: none;
}
.modal-footer, .modal-header {
    padding: 10px;
}
.modal-header .close {
    margin-top: 3px;
}
ol.upload-files-list {
    margin: 0;
    padding: 0 10px 10px 10px;
    border-left: none;
    border-right: none;
    overflow: hidden;
}
ol.upload-files-list .upload-file:last-child {
    border-bottom: 1px solid #ddd;
}
ol.upload-files-list .upload-file.template-download .error-col {
    float: right;
``}
ol.upload-files-list .upload-file.template-upload .error-col {
    float: left;
}
ol.upload-files-list .upload-file.template-upload .filesize-col{
    float: left;
    padding-right: 5px;
    padding-left: 5px;
    width: 80px;
}
ol.upload-files-list .upload-file {
    list-style: none;
    position: relative;
    margin: 0;
    height: 35px;
    line-height: 35px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    vertical-align: bottom;
}
ol.upload-files-list .upload-file .upload-file-info {
    vertical-align: baseline;
    border-collapse: collapse;
    /*width: 100%;*/
    height: 35px;
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
}
ol.upload-files-list .upload-file .upload-progress-bar {
    height: 33px;
    padding: 0;
    margin: 0;
}
.upload-file.complete .upload-progress-bar {
    background-color: #ebffd9;
}
.upload-file.error .upload-progress-bar {
    background-color: #FD9F9F;
}
.upload-file .upload-progress-bar {
    border-radius: 0;
    background-color: #e9f4ff;
}
.upload-files-list .upload-file .upload-file-info .filename-col {
    float: left;
    width: 310px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.upload-files-list .upload-file .upload-file-info div {
    display: block;
}
.upload-files-list .upload-file .upload-file-info .status-col {
    float: right;
    
}
.upload-files-list .upload-file .upload-file-info .actions-col {
    float: right;
}
.field-validation-error {
    color: red;
}
.fileupload-buttonbar {
    padding: 10px;
}
#openUpload {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    margin-top: -25px;
    height: 50px;
}
.modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.modal-content, .btn {
    border-radius:0;
}
.modal-backdrop {
    background-color: #fff;
}
.modal-vertical-centered {
    transform: translate(0, 50%) !important;
    -ms-transform: translate(0, 50%) !important;
    -webkit-transform: translate(0, 50%) !important;
}
#upload {
    font-family:'PT Sans Narrow', sans-serif;
}
#drop {
    padding: 10px 10px 0px 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #7f858a;
}
#drop a {
    background-color: #007a96;
    padding: 12px 26px;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    display: block;
    line-height: 1;
}
#drop a:hover {
    background-color: #0986a3;
}
#drop input {
    display:none;
}

.dropdown.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.en-inline{
    display:inline-block;
    margin-left:-10px;
    margin-top:-8px;
}
.en-fullheight{
    min-height:100vh;
}

.en-yscroll {
    overflow-y:auto;
}

.en-logo {
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

.cursor {
    cursor:pointer;
}

.en-uppercase {
    text-transform: uppercase;
}

.en-padding-5 {
    padding:5px;
}
.en-padding-10 {
    padding:10px;
}
.en-padding-15 {
    padding:15px;
}
.en-padding-20 {
    padding:20px;
}

.en-lowercase {
    text-transform: lowercase;
}

.dvcard{
    margin: 10px;
}

.en_selected {
    background: #aab7d1 !important;
}

.en-capitalize {
    text-transform: capitalize;
}

.dataview {
    overflow-y:auto;
    overflow-x:hidden;
    height:100%;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.blink {
    -webkit-animation: blink 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 2s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 2s;
    -o-animation-iteration-count: infinite;
}

tr[role=row] { height: 50px; border-bottom:1px solid #fff; }

td.details-control {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAACjElEQVR4Aa2V30uTURjHnVBUgglCaXVTJJVLMdhQm7+1JEvJiKAggmgSQiKJl0V0E13UVf0HQZmBLcvlpqa55tqV0YoMzIhY6js0yDH11X17vuO8Sq5Zgl/48DznPD/G63nOMSmBkoUNwhYhTUgn9NUeY8z5p0wqOVXYKRwQLMJhhYV7Kpaqck2rNdskbBPMdrv9osfjcQaDwW/RaHSR0OceY8xhrqox/a3ZZmGHkO9wOB7ouj6PBGKMOcxlzcqmdDYKGZmZmSWjo6PvIYosRuDWXGj50IwTb4+hxleN5sAVvJh4jvBCGBRzWSO121UPk3EAaUKuz+d7ycTp+Wnc/nwL1d4qHBVidmjZv/npBkJzGiiv19vFWmGrcVDsvKupqeky/056VMf1j9dQOViBKo9Aa/ixdbnYcrQGWsBc1jQ2NtrZQ/VKShHM8kvdEPVN9qJsoBRl/aUoHyiJ+UpcCxJTtmfCDYoHJT2yYyOlPtcaCoUmGGwdbkVRbxGK+2y0gg2GisUvNmJCy/BVUJqm/eBIxXqpgbUtiBise12HQlc+ClwFSKRCiZH6wXpQs7OzETWn6XENa/trYemywuK0IpGsTotgRU3fcVBzouWG6pOnpqY0BhuGGpDXeUjIW7JKcfuX3tjjP9k4FBkZN4PtY+042JGzzNMcGDJ35C7tmcU++tJmjE63OpSUuLEJ62GcfXUO+59kr8rJnlOY0WfAGtYaY/PHYPv9fhdEY7++4nz/BWS17UPWY0Es2avWp3vOYOTnCCheBtaqHskJr95kZBL3AvdR2XkEex5mYbdQ+qwCd97dRTAcXHn1Moyrt16PA2tN//V8jY+Pf4cS/VWerzU9sDay1gd2Xf4F/AZqlpeB9836LwAAAABJRU5ErkJggg==') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAACdUlEQVR4Aa2V30tTYRjHVSgsoQKhXPUPlKZMlImiIIg/pggiiDeCBAdqyC4Kf9zVhVdeelX33QnCbtYvxZsxxkoqKxiz1SzdFudMb5xO5/bt+fa+sPCw3IVf+PA+532e5ytn53lfK0qoSrggXBauCbUKxtxjjjVnq1IXXxFuCXeEFqGdMOYec6zRtZX/M6sWrgv1hmHcDwQCLxOJxM9CoZAnjLnHHGt0bbXdVG1cEm4KLp/P9yKXyx2jhJhjDWvZc9qUwUWhzuFwdMVisc8QFQ4PcbCygvT0NJLDw0gNDSH96DEyfj8KmQwo1rJHem8oD2VapX/sxlAo9Aqi/N4e9hYWsDMwgARxD2DH7ZZYren5eZxYFqhgMOhnr3BVeSnn216v98Hf3yqXg/X0CX719YFs9/WquJfPGtkzZ2fBWvZ4PB6DHtqrokaol7/0GqLM2hq2enpsxMmpvf3VVVD8UOJxV42Uet1Wy7J+M5mam8P37u6ySM7MgDJNM8mRUl5qYDtOREz+GB3FZlcXNjs7UUrMk/jYGKhsNnuo57TWZhgTw0hHO0EpRdpV/tvICKgjUdFQv/Lu7q7JZHxqCl9dLqGtSJtL4VJ80Wvc8xD2V9YfRUbmLZPp5WVstLTYaSWt+lmt1tISKH5Q/VFqbGOTl6GNTk7iQ3Oz4FSrU8UfuTqdBJHxceQz+2APe/8Zm+Jgh8PhNxBlt7YQNQysNzVivbEJ7wXGiiZEJiZwEI2C4mFgr/aoKnn0jk0TiWfPsTE4iHcN9xBuaMCn/n5sLy7iKJk8ffTqikfvfC4H9laWdX2lUqltaDEu9/o664LtIOVfsOf4L+APb5yaiwyN8+8AAAAASUVORK5CYII=') no-repeat center center;
}

