.navbar-brand img{
    display:inline-block !important;
}

.custom-title {
    margin-top:-15px;padding:10px 20px;    
}

.dvproducts{
    height:50vh;
    overflow:auto;
}


.card .body {
    padding:10px;
}

.fixed-page {
    height:calc(100vh - 120px);
}

.banner {
    width:100%;
}

.carousel-control{
    color:#000;
}
.carousel-control.right {
    background-image: none;
}
.carousel-control.left {
    background-image: none;
}