.navbar-brand img{
    display:inline-block !important;
}

.custom-title {
    margin-top:-15px;padding:10px 20px;    
}

.dvproducts{
    height:calc(100vh - 40px);
    overflow:auto;
}


.card .body {
    padding:10px;
}
