<section class="en-fullpage fixed-page yscroll components" en-view="inactive">
    <div class="row p-t-50 margin-0">
        <div class="col-md-12">
            Engine JS includes all the standard Bootstrap components, the ones listed here are the same expect data bond to help development.
        </div>
    </div>
    <div class="row p-t-50 margin-0">
        <div class="col-md-3">
            Select List Component
        </div>
        <div class="col-md-9">
            <categoryLst/>
        </div>
    </div>
    <div class="row  margin-0">
        <div class="col-md-3">
            Dropdown Button Component
        </div>
        <div class="col-md-9">
            <dropdownBtn/>
        </div>
    </div>
    <div class="row  margin-0">
        <div class="col-md-3">
            List Group Component
        </div>
        <div class="col-md-9">
            <lstGroup/>
        </div>
    </div>
    <div class="row  margin-0">
        <div class="col-md-3">
            Data Table Component
        </div>
        <div class="col-md-9">
            <tableData/>
        </div>
    </div>
    <div class="row  margin-0">
        <div class="col-md-3">
            Data View Component
        </div>
        <div class="col-md-9 padding-10">
            <dvproducts/>
        </div>
    </div>
</section>