<section class="en-fullpage" en-view="inactive">
    <div class="row">
            <div class="col-md-12">
                <h1>Dashboard</h1>
            </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-24">
            <div class="info-box bg-pink hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">search</i>
                </div>
                <div class="content">
                    <div class="text">FOUND IN SEARCHES THIS WEEK</div>
                    <div class="number count-to searches"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <!--
            <div class="info-box bg-cyan hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">pageview</i>
                </div>
                <div class="content">
                    <div class="text">REVIEWS</div>
                    <div class="number count-to reviews"></div>
                </div>
            </div>
             -->
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-24">
            <div class="info-box bg-light-green hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">forum</i>
                </div>
                <div class="content">
                    <div class="text">NEW COMMENTS ADDED THIS WEEK</div>
                    <div class="number count-to comments"</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix p-l-15">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-24 ">
            <dvcomments/>
        </div>
    </div>        
</section>