<section class="en-fullpage fixed-page development en-yscroll" en-view="inactive">
    <div class="container yscroll">
        <div class="row p-t-50 margin-0">
            <div class="col-md-12">
                EngineJS was designed to be a simple MVC framework with two-way data binding.
                <br>
                <br> The aim was to bring the best open source software into one place so the developers could create virtually
                any web application with one installation.
            </div>
        </div>
        <div class="row p-t-50 margin-0">
            <div class="col-md-4">
                There are 3 ways of rendering data.
                <br>
            </div>
        </div>
        <div class="row p-t-50 margin-0">
            <div class="col-md-6">
                1. Using handlebars "Handlebars.js". Though EngineJS has add a couple of extra helper (eg switch)<br>
                <br>
                <pre>
                    {{handlebars}}
                </pre>
                This is fine with the data is unlikely to change or you want some logic.
            </div>
            <div class="col-md-6" en-click="onclick">
                <h2>Result</h2>
                {{title}}
                <br> {{{entry.name}}} {{#if entry.active}} Active  {{/if}} {{#each list}}
                <div>{{name}}</div>
                {{/each}} {{#switch state}} {{#case "page1" "page2"}}page 1 or 2{{/case}} {{#case "page3"}}page3{{/case}} {{#case "page4"}}page4{{/case}}
                {{#case "page5"}} {{#switch s}} {{#case "3"}}s = 3{{/case}} {{#case "2"}}s = 2{{/case}} {{#case "1"}}s =
                1{{/case}} {{#default}}unknown{{/default}} {{/switch}} {{/case}} {{#default}}page0{{/default}} {{/switch}}
            </div>
        </div>
        <div class="row p-t-50 margin-0">
            <div class="col-md-6">
                2. EngineJS notation. Using {&#37; express &#37;} or {&#61; express &#61;}
                <br>
                <pre>
                    {% notation %}
                </pre>
                So what is the difference.<br>
                <br>
                {&#37; creates a data bind element (<span>) that will be updated if the associated model data is changed<br>
                <br>
                {&#61; is a literal render of data but unlike "handlebars" which uses &#123;&#123;&#123; &#125;&#125;&#125;, it is a javascript evaluation (eval function) of the expression.
            </div>
            <div class="col-md-6">
                    <h2>Result</h2>
                    <br> developmentModel.qty = {= developmentModel.qty =}
                <br> <br> developmentModel.qty * 2 = {% developmentModel.qty * 2 %}
                <br> <br> developmentModel.getQty() * 3 = {% developmentModel.getQty() * 3 %}
            </div>
        </div>
        <div class="row p-t-50 margin-0">
            <div class="col-md-6">
                3. Using element attributes.
                <br>
                <pre>
                    {= developmentModel.binding =}
                </pre>
                The "en-model" is optional. If not provide EngineJS will use the controller model.
            </div>
            <div class="col-md-6">
                <h2>Result</h2>
                <div en-model="developmentModel" en-bind="title"></div>
                <br>
                <div en-bind="developmentModel.title"></div>
                <br>
                <div en-bind="title"></div>
            </div>
        </div>
    </div>
</section>